<div class="container-fluid" style="text-align: left;">
<div class="row">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <ul class="nav flex-column vh-100">
      
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="activeStyle"><i class="fa fa-users" aria-hidden="true"></i> Communities</a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="activeStyle"><i class="fa fa-user-circle" aria-hidden="true"></i> Employee</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="activeStyle"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Archive</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="activeStyle"><i class="fa fa-star" aria-hidden="true"></i> Year-end Sale</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="activeStyle"><i class="fa fa-user" aria-hidden="true"></i> profile</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="activeStyle"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a>
              </li>
            

        </ul>
      </div>
      </div> 
  
    