<app-navbar></app-navbar>

<div class="container col-8 mt-3">
  <form #addCustomer="ngForm" (ngSubmit)="addNewCustomer()">
    <h3>Add New Customer Form</h3>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">First Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter First Name"
        name="FirstName" [(ngModel)]="customer.FirstName" #FirstName="ngModel" required>

    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Last Name"
        name="LastName" [(ngModel)]="customer.LastName" #LastName="ngModel" required>

    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Phone Number"
        name="phone" [(ngModel)]="customer.phone" #phone="ngModel" required>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Email" name="email"
        [(ngModel)]="customer.email" #email="ngModel" required>
    </div>
    <button class="btn btn-primary">+Add Customer</button>
    <button class="btn btn-primary" style="margin: 10px;" (click)="backToHome()">Back To Home</button>
 
  </form>
</div>
